@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4 bg-primary">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    TRAILES is a web application that
                    assist schools planning overnight trips
                    to register for cabins and events. Saving
                    Administrators the hassle of in-person sign ups.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4 bg-info">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    You can view our companion application, a Bluetooth based messaging app,
                    by following the link to the iOS store.
                </p>
                <p>
                    <a href="https://apple.com" class="stretched-link text-dark">See the mobile app</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4 bg-primary">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download our web app source code from GitHub.
                </p>
                <p>
                    <a href="https://github.com/dporter14/seniorProject" class="stretched-link text-dark">See project source code</a>
                </p>
            </div>
        </div>
    </div>
</div>